*{
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	box-sizing: border-box;
}

#body_login {
    background-image: url("https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-repeat: no-repeat;
    background-size: auto;
}

@media screen and (max-width: 1100px) {
    #body_login {
        background-size: auto;
    }
}

#card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}